.card {
  min-width: 266px;
  height: 395px;
  border: 1px solid black;
  padding: 5px;
}
.card .letters {
  font-size: 89px;
  height: 32%;
  border: 1px dashed black;
  justify-content: space-between;
  align-items: center;
}
.card .letters .capital {
  width: 50%;
  flex-direction: column;
  text-align: center;
}

.card .letters .lower {
  width: 50%;
  flex-direction: column;
  text-align: center;
}

.card .image {
  height: 51%;
  border: 1px dashed black;
  justify-content: center;
}
.card .image img {
  border: 0px;
}

.card .description {
  font-size: 30px;
  height: 16%;
  border: 1px dashed black;
  text-align: center;
  align-items: center;
  justify-content: center;
}